<div class="Container center">
 <div class="row">

   <ul class="collection with-header">
     <li class="collection-header">
       <h4>Informacion de la reserva</h4>
     </li>
     <li class="collection-item">Estado de la reserva: <%=@booking.estado %></li>
     <li class="collection-item">Fecha de ingreso: <%= @booking.date_in %></li>
     <li class="collection-item">Fecha de salida: <%= @booking.date_out %></li>
     <li class="collection-item">Hotel de la reserva: <%= @booking.hotel.name %></li>
   </ul>

<%= link_to 'Editar', edit_booking_path(@booking) %> |
<%= link_to 'Atras', root_path %></div>


</div>