<h3 class="center">Informacion</h3>
<div class="container center">
  <div class="row">
    <ul class="collection with-header">
      <li class="collection-header">
        Nombre del hotel: <%=@hotel.name %>
      </li>
      <li class="collection-item">Email de contacto: <%= @hotel.email %></li>
      <li class="collection-item">Telefono de contacto: <%= @hotel.phone %></li>
      <li class="collection-item">Acerca: <%= @hotel.about %></li>
      <li class="collection-item">Estrellas <br>
      <% c = 0
      until c == @hotel.stars
        c += 1
      %>
        <i class="small material-icons yellow">star</i>
          <%end%>
      </li>
      <li class="collection-item">Direccion: <%= @hotel.address %></li>
      <li class="collection-item">Fotos: <%= @hotel.photo_url %></li>
    </ul>

  </div>
  <% if current_user.try(:admin?) %>
  <%= link_to 'Editar', edit_hotel_path(@hotel) %> |
  <%end %>
  <%= link_to 'Atras', hotels_path %> |
  <%= link_to 'Reservar!', new_hotel_booking_path(@hotel)%>

</div>
